@charset "utf-8";

ul{list-style:none}
a{text-decoration:none; color: black;}
nav{width:80%;
    overflow:hidden;
    height:80px;
    margin:0px auto}

nav>ul{
    float: right;
}
.category{
    font-size:20px;
    float: left;
    padding: 0 50px;
}
.personal{
    position: relative;
    font-size: 15px;
    float: left;
    padding: 0 10px;
}
nav#log{
    padding: 0px 86px 0px 0px;
    height: 35px;
}
nav#left{
    width: auto;
    float: left;
    height: 500px;
    font-size: 20px;
}

.a{
    box-sizing: content-box;
    height: 50px;
    width: 300px;
}
.a:hover{
    background-color: rgb(58, 137, 58);
    font-size: 30px;
}
.a:hover>a{
    color: blue;
}