@charset "utf-8";

html {
    font-size: 13px;
}


#main{
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    width: 315px;
    /* height: 105px; */
    margin: auto;
    padding: 16px 16px 12px 17px;
}

p{
    color: grey;
    margin-top: 0px;
}

#login{
    display: block;
    background-color: #19ce60;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: white;
}

#logo{
    position: relative;
    width: 75px;
    top: 4px;
}

#sub{
    float: right;
}

.link{
    text-decoration: none;
    color: #404040;
}
#tmp{
    margin: 14px 8px 0 20px;
}

#lock{
    position: relative;
    width: 13px;
    top: 12px;
    float: left;
}

#sign_in{
    position: relative;
    width: 13px;
    top: 2px;
}