@charset "utf-8";

html{
    white-space:nowrap;
}

a{
    text-decoration:none; color: black;
}

header {
    height: 100px;
    width: 1000px;
}

header>ul {
    /* display: inline; */
    list-style: none;
    float: right;
    
}

header>ul>li {
    display: inline;
}
article{
    display: inline;
    width: 1000px;

}

/* #cal{
    position: relative;
    top: -130px;
} */
tmp{
    float: left;
    margin-right: 20px;
}

#space{
    margin-bottom: 10px;
}

footer{
    width: 1000px;
}

#call{
    float: right;
}